<div class="col-md-6 col-md-offset-3">
    <h1>About Us</h1>
    <h3>PMS connects buyers and sellers of financial technology globally.</h3>
    <p></p>
    <p>PMS attracts over 70,000 fintech buyers and sellers every month. 
        They come to us for the latest insight from our platform, to source the best 
        suppliers through our fintech product directory, to find new exciting job roles 
        or discover digital talent for their business via our job listings, to learn about 
        key live and digital events, and to download useful resources such as whitepapers
         and case studies.</p>
</div>