<div class="col-md-6 col-md-offset-3">
    <h1>Contact Us</h1>
    <h3>Contact Us</h3>
    <p>Our team helps to connect buyers and sellers of financial technology globally. Using the innovative bobsguide platform you can drive buyer-awareness of your company, generate and track sales qualified leads, and position your business and executives as industry leaders.
        Call us to discuss your requirements
        EMEA
         </p>
         <p>Stephen Tendulakar
                +44 (0)11 1111 1111
                AMERICAS</p>
        
        <p> 
        Brain Kohli
        +44 (0)22 2222 2222
        APAC
    </p><p>
        Mike Rahane
        +44 (0)33 3333 3333
        CLIENT SERVICES
        </p>
</div>