<div class="col-md-12">
    
    <p>Policy Management System</p>
    <h3>Welcome {{currentUser.firstName}} {{currentUser.lastName}}</h3>
    <b>Available Policies</b>
    <ul><div class="container">
            <table class="table row-border hover" >
                <thead>
                    <tr>
                      <th>Sr No.</th>
                      <th>Policy Name</th>
                      <th>Policy Details</th>
                       </tr>
                    </thead>
                    <tbody  *ngFor="let policy of policies">
        
                 <tr>
                     <td>{{policy.policyId}}</td>
                     <td>{{policy.policyName}}</td>
                     <td>{{policy.policyDetails}}</td>
                </tr>
        
    </tbody>
    </table></div>
    </ul>
<b>
    {{currentUser.firstName}} {{currentUser.lastName}} User Policies
</b>
<ul><div class="container">
        <table class="table row-border hover" >
         
    <tbody *ngFor="let policy of currentUser.policies">
             <tr>
                 <td>{{policy.policyId}}</td>
                 <td>{{policy.policyName}}</td>
                 <td>{{policy.amountPaid}}</td>
                 <td>{{policy.policyEndDate}}</td>
                 <td>{{policy.valid}}</td>
            </tr>
    </tbody>
</table>
</div>
</ul>
    <p><a [routerLink]="['/login']">Logout</a></p>
</div>